/*GifTastic                                */
/*Author: Wallis Chau                      */
/*Description: Lists gif and animate gif   */
/*from giphy.com on user input             */
/*Date: 8/22/17                            */

body {
	background-image: url('../images/green_flare.jpeg');
}

#heading {
	text-align: center;
	font-size: 24px;
	margin: 10px 5px 5px 5px;
	color: #421;
	text-shadow: 2px 2px 5px yellow;

}
#search-label, #add-gif, #more-btn  {
	color: #421;
	font-size: 18px;
}


#gifform {
	margin: 10px;
}

.gif-button {
	margin: 5px 10px;
	position: relative;
	background: #c5fd7c;
	border: 1px solid #c5fd7c;
	box-shadow: 0 0 1px inset;
	background-image: -webkit-linear-gradient(90deg, #54ee7c, #c5fd7c);
	background-image: -o-linear-gradient(90deg, #54ee7c, #c5fd7c);
	background-image: -moz-linear-gradient(90deg, #54ee7c, #c5fd7c);
	background-image: linear-gradient(90deg, #54ee7c, #c5fd7c);

}


.img-block {
	float: left;
	margin: 10px 5px;
}

#gif-images {
	width: 600px;
}

@media screen and (max-width: 640px) {
	#gif-images {
		width: 100%;
	}
} 